# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
**/bin/
**/obj/

# OS junk
.DS_Store
Thumbs.db

# SQLite local DB files
*.db
*.db-shm
*.db-wal

# Rider/JetBrains
.idea/

# VS Code workspace (optional)
.vscode/

# Logs
*.log
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InventoryManagement2025/obj
/.vs/InventoryManagement2025/CopilotIndices/17.14.1231.31060
/.vs
/InventoryManagement2025/bin/Debug/net8.0
